<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <title>BonegaTBTC</title>
    <meta http-equiv="Cache-Control" content="max-age=604800" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="renderer" content="webkit">
    <meta name="og:type" content="website">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  </head>
  <body>
    <div id="root"></div>
    <div class="frame" id="page__loader">
      <div class="loader">
        <div class="loader-inner line-scale">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </body>
</html>
